.password-input-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;

  .input-field {
    width: 100%;
  }

  .toggle-password {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 0.7rem;
    border: 0;
    background-color: $log-in-bg-input;
    width: 2rem;

    &:hover {
      cursor: pointer;
    }

    .toggle-password-icon {
      width: 100%;
    }
  }
}
