$primary-text: #0c3249;
$primary-bg-color: #e0f4f5;
$primary-button-background: #378381;
$primary-button-shadow: #175755;
$disabled-primary-button-background: #73a8a7;
$disabled-primary-button-shadow: #639190;
$white: #fff;
$low-opacity-white: #ffffffe9;
$black: #000;
$black-with-opacity: #0000004c;
$black-shadow: #00000029;
$answer-background-color: #0c32490a;
$tooltip-background-color: #2a2a2a;
$correct-answer: #80dcc9;
$wrong-answer: #f28787;
$log-in-bg-input: #f4f6f7;
$log-in-input-border: #0c32497a;
$secondary-button-background: #be7f6b;
$secondary-button-background-shadow: #985e4b;
$image-container-background-color: #0c324908;
$tooltip-background-color: #272727;
$light-gray: #dadada;
$image-container-background-color: #f7f9f9;
