@media screen and (width <= 450px) {
  .quizzes {
    margin-bottom: 6rem;
    margin-left: 2.8125rem;

    .mobile-single-quiz {
      margin-top: 2rem;
      margin-right: 3rem;
    }
  }
}

@media screen and (width >= 450px) {
  .quizzes {
    display: flex;
    flex-direction: column;

    .single-quiz {
      display: flex;
      justify-content: center;
      padding-bottom: 3.2rem;
    }
  }
}
